<%= form_for(@industrial_hygiene_job) do |f| %>
  <% if @industrial_hygiene_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@industrial_hygiene_job.errors.count, "error") %> prohibited this industrial_hygiene_job from being saved:</h2>

      <ul>
      <% @industrial_hygiene_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :industrial_hygiene_job_type_id %><br>
    <%= f.number_field :industrial_hygiene_job_type_id %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :active_datetime %><br>
    <%= f.datetime_select :active_datetime %>
  </div>
  <div class="field">
    <%= f.label :inactive_datetime %><br>
    <%= f.datetime_select :inactive_datetime %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :context_id %><br>
    <%= f.text_field :context_id %>
  </div>
  <div class="field">
    <%= f.label :context_code %><br>
    <%= f.text_field :context_code %>
  </div>
  <div class="field">
    <%= f.label :context_description %><br>
    <%= f.text_field :context_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
