<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @identifier_type.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @identifier_type.description %>
</p>

<p>
  <strong>Active datetime:</strong>
  <%= @identifier_type.active_datetime %>
</p>

<p>
  <strong>Inactive datetime:</strong>
  <%= @identifier_type.inactive_datetime %>
</p>

<%= link_to 'Edit', edit_identifier_type_path(@identifier_type) %> |
<%= link_to 'Back', identifier_types_path %>
