<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @person.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Birth datetime:</strong>
  <%= @person.birth_datetime %>
</p>

<p>
  <strong>Gender type:</strong>
  <%= @person.gender_type_id %>
</p>

<p>
  <strong>Person type:</strong>
  <%= @person.person_type_id %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
