<%= form_for(@gender_type) do |f| %>
  <% if @gender_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gender_type.errors.count, "error") %> prohibited this gender_type from being saved:</h2>

      <ul>
      <% @gender_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :active_datetime %><br>
    <%= f.datetime_select :active_datetime %>
  </div>
  <div class="field">
    <%= f.label :inactive_datetime %><br>
    <%= f.datetime_select :inactive_datetime %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
