<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @location_type.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location_type.description %>
</p>

<p>
  <strong>Active datetime:</strong>
  <%= @location_type.active_datetime %>
</p>

<p>
  <strong>Inactive datetime:</strong>
  <%= @location_type.inactive_datetime %>
</p>

<%= link_to 'Edit', edit_location_type_path(@location_type) %> |
<%= link_to 'Back', location_types_path %>
