<p id="notice"><%= notice %></p>

<p>
  <strong>Location type:</strong>
  <%= @location.location_type_id %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @location.parent_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @location.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>Active datetime:</strong>
  <%= @location.active_datetime %>
</p>

<p>
  <strong>Inactive datetime:</strong>
  <%= @location.inactive_datetime %>
</p>

<p>
  <strong>Level:</strong>
  <%= @location.level %>
</p>

<p>
  <strong>Context:</strong>
  <%= @location.context_id %>
</p>

<p>
  <strong>Context code:</strong>
  <%= @location.context_code %>
</p>

<p>
  <strong>Context description:</strong>
  <%= @location.context_description %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
